doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet", href="/CSS/split.css")
      
  body
    div.cont
        div.box
            for each of some
                div.person
                    p #{each.from} should pay #{each.to} of #{each.cost}

  script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js')