* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cont {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.person {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
